.field {
  position: relative;

  & > div {
    margin: 6px 0 8px;
  }

  &:focus-within .label {
    top: -10px;
    font-size: 14px;
    background-color: var(--color-background-modal);
    z-index: 2;
  }
}

.label {
  position: absolute;
  top: 12px;
  left: 14px;
  color: var(--color-input-label);
  transition: 0.2s ease all;
  pointer-events: none;
  font-size: 16px;
  padding: 0 4px;
}

.input {
  width: 100%;
  padding: 12px 18px;
  position: relative;
  background-color: var(--color-background-input);
  color: #fff;

  outline: none;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--color-border-input);
  font-size: 16px;

  &:focus {
    border-color: var(--color-border-input-focus);
  }

  &:focus + .label,
  &:not(:placeholder-shown) + .label {
    top: -10px;
    font-size: 14px;
    background-color: var(--color-background-modal);
    z-index: 2;
  }

  /* Chrome/Safari */
  &:-webkit-autofill {
    box-shadow: 0 0 0px 1000px var(--color-background-input) inset !important;
    -webkit-text-fill-color: var(--color-text) !important;
  }
  &:-webkit-autofill + .label {
    top: -10px;
    font-size: 14px;
    background-color: var(--color-background-modal);
    z-index: 2;
  }

  /* Firefox */
  &:-moz-autofill {
    box-shadow: 0 0 0px 1000px var(--color-background-input) inset !important;
    -moz-text-fill-color: var(--color-text) !important;
  }
  &:-moz-autofill + .label {
    top: -10px;
    font-size: 14px;
    background-color: var(--color-background-modal);
    z-index: 2;
  }
}

.inputError {
  border: 1px solid var(--color-error-text);

  &:focus {
    border-color: var(--color-error-text);
  }

  &:focus + .label,
  &:not(:placeholder-shown) + .label {
    color: var(--color-error-text);
  }
}

.error {
  color: var(--color-error-text);
}
