.profit {
  color: var(--color-profit);
}

.loss {
  color: var(--color-loss);
}

.neutral {
  color: var(--color-no-changes);
}


// TableCell_Object.tsx
.object {
  > img {
    width: 50px;
    padding: 4px;
  }
  > span {
    margin-left: 5px;
  }
}

// TableCell_Price24h.tsx
.price24h {
  flex-direction: column;
}

// TableCell_InvestmentsAndCount.tsx
.investmentsAndCount {
  flex-direction: column;
}

.investmentCount {
  color: #9E9E9E;
}

// TableCell_CurrentProfit.tsx
.currentProfit {
  flex-direction: column;
}
