# Node modules
node_modules/

# Logs
logs
*.log

# Build
dist/
build/

# TypeScript build-info
*.tsbuildinfo

# Env files
.env
**/.env

# IDEs
.vscode/
.idea/

# DB and misc
*.sqlite
*.bak

/temp.txt
