.table {
  width: 100%;
  border-collapse: collapse;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 100px;

  > thead {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    > tr > th {
      padding: 18px 0;
    }
  }

  > tbody > tr {
    &:hover {
      background-color: var(--color-background);
      filter: brightness(1.1);
      cursor: pointer;
    }
  }
}

tr {
  display: flex;
  align-items: center;
  max-height: 54px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

th, td {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  // border: 1px solid red;
}

table > thead > tr > th:first-child {
  min-width: 300px;
  justify-content: start;
}

table > tbody > tr > td:first-child {
  min-width: 300px;
  justify-content: start;
}

th:nth-child(3), td:nth-child(3) {
  max-width: 140px;
}

th:nth-child(4), td:nth-child(4) {
  max-width: 160px;
}

th:nth-child(5), td:nth-child(5) {
  max-width: 140px;
}

/* Скелетон для лоудера */
.skeletonShimmer {
  position: relative;
  background: #2b2b2b;
  overflow: hidden;
}

.skeletonShimmer::after {
  content: '';
  position: absolute;
  top: 0; left: -150%;
  width: 150%; height: 100%;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255,255,255,0.2) 50%,
    transparent 100%
  );
  animation: shimmer 1.8s infinite;
}

@keyframes shimmer {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}
